---
title: Shred
---

<!DOCTYPE html>
<html>
<head>
  <meta content="text/html" charset="utf-8" http-equiv="content-type">
  <meta name="viewport" content="width=device=width, initial-scale=1">

  <title>Shred</title>

  <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="../assets/css/master.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800" rel="stylesheet">
</head>


<body>

  {% include header.html %}

  {{ content }}

  {% include footer.html %}

  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script src="assets/js/bootstrap.js"></script>
  {% include scrolling.html%}

</body>
</html>
